@page "/gameslist"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<h3>Games List (@games.Count)</h3>

<p>
    <a asp-page=<button class="btn btn-primary" @onclick="NavigateToCounterComponent">Create new</button>
</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>ReleaseDate</th>
            <th>Genre</th>
            <th>Price ($)</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.ReleaseDate</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.Rating</td>
            </tr>
        }
    </tbody>
</table>


@code {

    private void NavigateToCounterComponent() { 
        NavigationManager.NavigateTo("create"); 
    }

    private List<GamesItem> games = new();
}


   




