@page "/gameslist"
@rendermode InteractiveServer

<h3>Games List (@games.Count)</h3>

<input @bind="newGame" />
<button class="btn btn-primary" @onclick="AddGame">Create game</button>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>ReleaseDate</th>
            <th>Genre</th>
            <th>Price ($)</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.ReleaseDate</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.Rating</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<GamesItem> games = new();
    string newGame = "";

    void AddGame()
    {
        if (!string.IsNullOrWhiteSpace(newGame))
        {
            GamesItem createGame = new GamesItem();
            createGame.Title = newGame;
            games.Add(createGame);
            newGame = string.Empty;
        }
    }

}


   




